<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
        <style>
                @import url("http://platform.twitter.com/css/tweet.b6ca5fbe9fc709c1f1b8c6e02c82d896.light.ltr.css");
                .twitter-tweet-rendered {
                    width: 100%;
                }
        </style>
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container-fluid">