{{> header}}
<h1>Gasconade</h1>
<p class="lead">
    Getting annoyed by "threads" in <a href="https://twitter.com/">Twitter?</a> Wish they'd written a blog post?<br />
    Want that blog post right now? Give me the tweet url!</p>
<form action="/tweet" method="POST">
    <div class="form-group">
        <label for="twitter_url">Tweet URL</label>
        <input type="url"
            name="twitter_url"
            class="form-control"
            required pattern="https://twitter.com/[^/]+/status/(\d+)"
            oninvalid="this.setCustomValidity('Please enter a Twitter \'tweet\' URL here')"
            oninput="setCustomValidity('')"
            placeholder="https://twitter.com/foo/status/12345" />
    </div>
    <button type="submit" class="btn btn-primary">Get blog post</button>
</form>
{{> footer}}